# Virtual environment
venv/

# Ignore actual model files
aFull_project/**/saved_model/*
!aFull_project/**/saved_model/.gitkeep

# Ignore ML model formats
*.pkl
*.pth
*.h5
*.onnx


# FFmpeg & binaries
ffmpeg-8.0-essentials_build/

# Python cache
__pycache__/
*.pyc

# Media
*.mp4
*.avi
*.mov
*.wav
*.zip
